{if {product attr="id"}}

<div class="row" style="border-top: 1px dotted #a5ced8; border-bottom: 1px dotted #a5ced8; margin-top: 10px;">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 title">
                {intl d="digressiveprice.bo.default" l="Digressive price"}
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{intl l="From" d="digressiveprice.bo.default"}</th>
                    <th>{intl l="To" d="digressiveprice.bo.default"}</th>
                    <th>{intl l="Price w/o taxes" d="digressiveprice.bo.default"}</th>
                    <th>{intl l="Sale price w/o taxes" d="digressiveprice.bo.default"}</th>
                    <th>{intl l="Add/Update" d="digressiveprice.bo.default"}</th>
                    <th>{intl l="Remove" d="digressiveprice.bo.default"}</th>
                </tr>
            </thead>
            <tbody>
                {* List existing digressive prices for this product *}
                {loop type="digressive" name="prodDigressivePrices" product_id="{product attr="id"}"}
                <!-- Update digressive price -->
                <tr>
                    {form name="digressiveprice.update"}
                    <form action="{url path='/admin/module/DigressivePrice/update'}" class="form-inline" role="form" {form_enctype form=$form} method="post">

                        {form_hidden_fields form=$form}

                        {form_field form=$form field="id"}
                        <input type="hidden" name="{$name}" value="{$ID}">
                        {/form_field}

                        {form_field form=$form field="productId"}
                        <input type="hidden" name="{$name}" value="{$PRODUCT_ID}">
                        {/form_field}

                        <!-- Quantities -->
                        <td>
                            {form_field form=$form field="quantityFrom"}
                            <input name="{$name}" value="{$QUANTITY_FROM}" class="form-control" type="text" required>
                            {/form_field}
                        </td>
                        <td>
                            {form_field form=$form field="quantityTo"}
                            <input name="{$name}" value="{$QUANTITY_TO}" class="form-control" type="text" required>
                            {/form_field}
                        </td>

                        <!-- Prices -->
                        <td>
                            {form_field form=$form field="price"}
                            <input name="{$name}" value="{$PRICE}" class="form-control" type="text" required>
                            {/form_field}
                        </td>
                        <td>
                            {form_field form=$form field="promo"}
                            <input name="{$name}" value="{$PROMO_PRICE}" class="form-control" type="text" required>
                            {/form_field}
                        </td>

                        <!-- Update -->
                        <td>
                            <button type="submit" class="btn btn-default">{intl d="digressiveprice.bo.default" l="Update"}</button>
                        </td>
                    </form>
                    {/form}

                    <!-- Remove -->
                    <td>
                        {form name="digressiveprice.delete"}
                        <form action="{url path='/admin/module/DigressivePrice/delete'}" role="form" {form_enctype form=$form} method="post">
                            {form_hidden_fields form=$form}

                            {form_field form=$form field="productId"}
                            <input type="hidden" name="{$name}" value="{$PRODUCT_ID}">
                            {/form_field}

                            {form_field form=$form field="id"}
                            <input type="hidden" name="{$name}" value="{$ID}">
                            {/form_field}

                            <button type="submit" title="{intl d='digressiveprice.bo.default' l='Remove'}" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                        </form>
                        {/form}
                    </td>
                </tr>
                {/loop}

                <!-- New digressive price form -->
                <tr>
                    {form name="digressiveprice.create"}
                    <form action="{url path='/admin/module/DigressivePrice/create'}" class="form-inline" role="form" {form_enctype form=$form} method="post">

                        {form_hidden_fields form=$form}

                        {form_field form=$form field="productId"}
                        <input type="hidden" name="{$name}" value="{product attr='id'}">
                        {/form_field}

                        <!-- Quantities -->
                        <td>
                            {form_field form=$form field="quantityFrom"}
                            <input name="{$name}" class="form-control" placeholder="{$label}" type="text" required>
                            {/form_field}
                        </td>
                        <td>
                            {form_field form=$form field="quantityTo"}
                            <input name="{$name}" class="form-control" placeholder="{$label}" type="text" required>
                            {/form_field}
                        </td>

                        <!-- Prices -->
                        <td>
                            {form_field form=$form field="price"}
                            <input name="{$name}" class="form-control" placeholder="{$label}" type="text" required>
                            {/form_field}
                        </td>
                        <td>
                            {form_field form=$form field="promo"}
                            <input name="{$name}" class="form-control" placeholder="{$label}" type="text" required>
                            {/form_field}
                        </td>

                        <!-- Submit -->
                        <td>
                            <button type="submit" class="btn btn-default">{intl d="digressiveprice.bo.default" l="Add"}</button>
                        </td>
                    </form>
                    {/form}
                </tr>
            </tbody>
        </table>
    </div>
</div>
{/if}