<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="digressive" class="DigressivePrice\Loop\DigressiveLoop" />
    </loops>

    <forms>
        <form name="digressiveprice.create" class="DigressivePrice\Form\CreateDigressivePriceForm" />
        <form name="digressiveprice.update" class="DigressivePrice\Form\UpdateDigressivePriceForm" />
        <form name="digressiveprice.delete" class="DigressivePrice\Form\DeleteDigressivePriceForm" />
    </forms>

    <hooks>
        <hook id="digressiveprice.hook" class="DigressivePrice\Hook\DigressivePriceHook" scope="request">
            <tag name="hook.event_listener" event="product.tab-content" type="back"/>
        </hook>
    </hooks>
    
    <services>
        <service id="digressiveprice.listener" class="DigressivePrice\Listener\DigressivePriceListener" scope="request">
            <argument type="service" id="request"/>
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>
</config>
